.container.flex-column
  .flex-item
    .row-fluid
      .span7.date-range-links
        strong.pull-left Отобразить за: 
        ul.nav.nav-pills.pull-left
          li
            a(href='#') сегодня
          li
            a(href='#') вчера
          li
            a(href='#') неделю
          li
            a(href='#') месяц
          li
            a(href='#') 3 месяца
          li
            a(href='#') год
      .span5
        form.form-inline.date-range-picker
          strong Период 
          .input-append
            input(type='text', placeholder='2013-07-10')
            button.btn(type='button')
              i.icon-calendar
          span  - 
          .input-append
            input(type='text', placeholder='2013-07-18')
            button.btn(type='button')
              i.icon-calendar
    .row-fluid
      .span12
        div.hide
          input(type='button', ng-click='addCircles()', value='Add circles')
          input(type='button', ng-click='clearCircles()', value='Clear circles')
          input(type='button', ng-click='toggleCircleVisibility()', value='Toggle circle visibility')
          | |
          input(type='button', ng-click='addSquares()', value='Add squares')
          input(type='button', ng-click='clearSquares()', value='Clear squares')
          input(type='button', ng-click='toggleSquareVisibility()', value='Toggle square visibility')
        p.text-center Stat bars will be here
        //- svg(viewbox='0 0 1000 500', preserveaspectratio='xMidyMid')
        //-   g(d3='d3', d3-data='circles', d3-renderer='circleRenderer', ng-show='$parent.showCircles')
        //-   g(d3='d3', d3-data='squares', d3-renderer='squareRenderer', ng-show='$parent.showSquares')
  .flex-item
    .row-fluid
      .span12
        .gridStyle(ng-grid='gridOptions')
        p This is the partial for view 1.
        p The current time is {{time}}