.container-fluid 
  .row-fluid
    .span12 Статистика
.container-fluid.flex-column
  .flex-item
    .row-fluid.filters
      .span7.date-range-links
        strong.pull-left Отобразить за: 
        .btn-group
          button.btn.btn-small(type='button', ng-model='radioModel', btn-radio='\'today\'') сегодня
          button.btn.btn-small(type='button', ng-model='radioModel', btn-radio='\'yesterday\'') вчера
          button.btn.btn-small(type='button', ng-model='radioModel', btn-radio='\'week\'') неделю
          button.btn.btn-small(type='button', ng-model='radioModel', btn-radio='\'month\'') месяц
          button.btn.btn-small(type='button', ng-model='radioModel', btn-radio='\'quarter\'') 3 месяца
          button.btn.btn-small(type='button', ng-model='radioModel', btn-radio='\'year\'') год
            
      .span5
        form.form-inline.text-right.date-range-picker
          strong Период 
          .input-append
            input.size-small(type='text', placeholder='2013-07-10')
            button.btn.btn-small(type='button')
              i.icon-calendar
          span  - 
          .input-append
            input.size-small(type='text', placeholder='2013-07-22')
            button.btn.btn-small(type='button')
              i.icon-calendar
    .row-fluid
      .span12
        div
          input(type='button', ng-click='addCircles()', value='Add circles')
          input(type='button', ng-click='clearCircles()', value='Clear circles')
          input(type='button', ng-click='toggleCircleVisibility()', value='Toggle circle visibility')
          | |
          input(type='button', ng-click='addSquares()', value='Add squares')
          input(type='button', ng-click='clearSquares()', value='Clear squares')
          input(type='button', ng-click='toggleSquareVisibility()', value='Toggle square visibility')
        svg(viewbox='0 0 1000 300', preserveaspectratio='xMidyMid')
          g(d3='d3', d3-data='circles', d3-renderer='circleRenderer', ng-show='$parent.showCircles')
          g(d3='d3', d3-data='squares', d3-renderer='squareRenderer', ng-show='$parent.showSquares')
  .flex-item
    .row-fluid
      .span12
        div.gridStyle(ng-grid='gridOptions')
        p This is the partial for view 1.
        p The current time is {{time}}