extends layout

block body

  header(class="app-header", ng-controller="AppCtrl")
      .navbar.navbar-inverse
        .navbar-inner
          .container-fluid
            button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.brand(href='main') Call Stats
            .nav-collapse.collapse
              p.navbar-text.pull-left
                | Logged in as
                a.navbar-link(href='#'){{name}}
              ul.nav.pull-right
                li
                  a(href='settings') Настройки
                li
                  a(href='logout') Выход
  nav.app-nav
    ul.nav.nav-list
      li
        a(href='stat')
          i.icon-bar-chart.icon-2x
          span Статистика
      li
        a(href='call-log')
          i.icon-asterisk.icon-2x
          span Журнал звонков
      li
        a(href='call-daily')
          i.icon-table.icon-2x
          span Звонки по дням
      li
        a(href='roi')
          i.icon-tasks.icon-2x
          span возврат инвестиций
  div(class="app-container", ng-view)

  div.text-center
    | Angular Socket.io seed app: v
    span(app-version)

  script(src='bower_components/jquery/jquery.min.js')
  script(src="/socket.io/socket.io.js")  
  script(src='bower_components/angular-unstable/angular.js')
  script(src="bower_components/angular-socket-io/socket.js")
  script(src='bower_components/angular-ui/build/angular-ui.js')
  script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
  script(src='bower_components/d3/d3.min.js')
  script(src='bower_components/d3-angular/dist/angular-d3.min.js')
  script(src='bower_components/ng-grid/ng-grid-2.0.7.min.js')
  
  script(src="js/app.js")  
  script(src="js/modules/base/controllers.js")
  script(src="js/modules/base/filters.js")
  script(src="js/modules/base/services.js")
  script(src="js/modules/base/directives.js")

  //- General summary providers stat 
  script(src="js/modules/stat/controllers.js")  
  //- Complete calls log
  script(src="js/modules/log/controllers.js")
  //- Daily calls log
  script(src="js/modules/daily/controllers.js")
  //- ROI effect stat   
  script(src="js/modules/roi/controllers.js")



  script(src='bower_components/angular-resource/angular-resource.js')
  script(src='bower_components/angular-cookies/angular-cookies.js')
  script(src='bower_components/angular-sanitize/angular-sanitize.js')  
