!!!
html(ng-app="statApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Call Stat Application
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='bower_components/ng-grid/ng-grid.min.css')    	
  body
    block body